<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="registerForm">
                <h2>Register</h2>
                <input type="text" id="registerUsername" placeholder="Username" required>
                <input type="password" id="registerPassword" placeholder="Password" required>
                <div>
                    <input type="radio" id="dogWalker" name="userType" value="dogWalker" checked>
                    <label class="radio-label" for="dogWalker">Dog Walker</label>
                </div>
                <div>
                    <input type="radio" id="dogOwner" name="userType" value="dogOwner">
                    <label class="radio-label" for="dogOwner">Dog Owner</label>
                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="/">Login here</a></p>
            <p id="registrationStatus" style="display: none; color: green;">Registration successful</p>
        </div>
    </div>
    <script src="../static/bootstrap/js/register.js"></script>
</body>
</html>
